@model IEnumerable<COMP2139Lab1.Models.Project>

<h1>Projects</h1>
<table class="table">
    <thead>
    <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var project in Model)
    {
        <tr>
            <td>@project.Name</td>
            <td>@project.Description</td>
            <td>
                <a asp-action="Details" asp-route-id="@project.Id">View</a>
            </td>
        </tr>
    }
    </tbody>
</table>
<a asp-action="Create" class="btn btn-primary">Add New Project</a>